.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
  }
  
  .header {
    background: #5f0000;
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .content {
    padding: 2rem;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }

  .errorMessage {
    display: block;
    color: rgb(183, 46, 46);
    text-align: center;
    /* border: solid;
    border-color: rgb(223, 26, 26);
    border-width: 0.02rem;
    background-color: #eec6c6;
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem; */

  }
  
  